<div class="container">
    <table>
        <tr>
            <td>ENTER ROLL NO</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>ENTER EMAIL ID</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>NAME</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">add student</button></td>
        </tr>
    </table>
</div>